<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="BTL" connectionString="Data Source=DESKTOP-D4FONDC\SQLEXPRESS;&#xD;&#xA;			 Initial Catalog=BTL_HSK;&#xD;&#xA;			 Integrated Security=True" />
  <add name="WDF_BTL.Properties.Settings.BTLConnectionString" connectionString="Data Source=DESKTOP-D4FONDC\SQLEXPRESS;Initial Catalog=BTL_HSK;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>